.largecenter {
	text-align: center;
	font-size: 250%;
}
.title {
	page-break-before:always;
	font-size: 200%;
	height: 60px;
	text-align: center;
}
.break {
	text-align: center;
}
.subtitle {
	height: 40px;
	text-align: center;
}

div.intro,
div.meta {
	page-break-after:always;
}
div.TOC {
	font-size: 120%;
}

div, span, h1, h2, h3, h4, h5, h6, p, img, nav, section {
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}